settings/
Debug/
build/
out/
report/

.settings/language.settings.xml

# Compiled Binaries
*.bin
*.elf
*.hex
*.map

# CUBA makeing file
*.tmp
*.ftl
*.scratch
*.c_save
*.h_save
*.tmp_save
*.ftl_save
tmp/

# Build
*.d
*.o
*.su
*.dump

*.launch
